<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='chatbot_style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">
</head>
<body>
    <header class="bg-white shadow-sm">
        <nav class="container">
            <div class="navbar-brand">
                <img src="{{ url_for('static', filename='images/airbnb_logo.jpeg') }}" alt="Airbnb Logo" height="40">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header><br><br>

    <main class="container my-5">
        <h1 style="color: #ff4247; text-align: center;">Signup</h1><br>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form method="POST" action="/register">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>

                    <label for="gender">Gender:</label>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label><br><br>

                    <label for="utype">User Type:</label>
                    <input type="radio" id="host" name="utype" value="host">
                    <label for="host">Airbnb Host</label>
                    <input type="radio" id="guest" name="utype" value="female">
                    <label for="guest">Guest</label><br><br>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>

                    <input type="submit" class="cta-button btn btn-block" value="Register">

                </form>
                <p style="text-align:center;">Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </main>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/about.jpeg') }}" alt="Image 1" class="img-fluid mb-3">
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/about1.jpeg') }}" alt="Image 2" class="img-fluid mb-3">
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/about2.jpeg') }}" alt="Image 3" class="img-fluid mb-3">
            </div>
        </div>
    </div>

    <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">AirbnbAidBot</h4>
                    <p class="chatbox__description--header">Hi. My name is AirBOT. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chat_icon.png') }}" style="height: 50px; width: 50px"/></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Airbnb, Inc.</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
